<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Cake Taster</title>
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- Mobile Specific Metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Favicons-->
    <link rel="shortcut icon" href="images/favicon.png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- styles-->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/fontawesome/font-awesome.css" rel="stylesheet">
    <link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="js/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="js/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/animate.css'" type="text/css" rel="stylesheet">
    <link href="css/style.css " type="text/css" rel="stylesheet">
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements-->
    <!--if lt IE 9script(src='js/html5shiv.js')
script(src='js/respond.min.js')-->
</head>
<!-- Start Page loader-->
<div id="pageloader">&apos;<img src="images/progress.gif " alt="loader"></div>
<!-- End Page loader-->
<!-- Start Slider-->
<section id="home">
    <div class="slider-overlay"></div>
    <div class="homeslider flexslider">
        <ul class="slides">
            <li class="slide2 bg"></li>
        </ul>
    </div>
    <!-- / homeslider-->
    <div class="tb"><img class="rope-png" src="images/rope.png" height="575px" width="10px;"><img class="rope2-png" src="images/rope.png" height="575px" width="10px;"><img class="rope3-png" src="images/rope.png" height="575px" width="10px;"><img class="rope4-png" src="images/rope.png"
            height="575px" width="10px;">
        <div class="page-scroll scroll"><a href="#products"><img class="product-png" src="images/Menu/prodegg.png" height="100px" width="110px;"></a>
            <div class="page-scroll scroll"><a href="#cakes"><img class="cake-png" src="images/Menu/cakeegg.png" height="100px" width="110px;"></a>
                <div class="page-scroll scroll"><a href="#contact"><img class="contact-png" src="images/Menu/contactegg.png" height="100px" width="110px;"></a>
                    <div class="page-scroll scroll"><a href="#login"><img class="reg-png" src="images/Menu/regegg.png" height="100px" width="110px;"></a>
                        <div class="page-scroll scroll"><a href=""><img class="table-png" src="images/Menu/table.png" height="175px" width="200px;"></a>
                            <style>
                                .product-png {
                                    position: relative;
                                    bottom: 350px;
                                    left: 450px;
                                }

                                .cake-png {
                                    position: relative;
                                    bottom: 550px;
                                    left: 665px;
                                }

                                .contact-png {
                                    position: relative;
                                    bottom: 550px;
                                    left: 880px;
                                }

                                .reg-png {
                                    position: relative;
                                    bottom: 750px;
                                    left: 1088px;
                                }

                                .table-png {
                                    position: relative;
                                    bottom: 580px;
                                    left: 1000px;
                                }

                                .extra-png {
                                    position: relative;
                                    top: 180px;
                                    left: 550px;
                                }

                                .rope-png {
                                    position: relative;
                                    bottom: 350px;
                                    left: 500px;
                                }

                                .rope2-png {
                                    position: relative;
                                    bottom: 450px;
                                    left: 700px;
                                }

                                .rope3-png {
                                    position: relative;
                                    bottom: 350px;
                                    left: 900px;
                                }

                                .rope4-png {
                                    position: relative;
                                    bottom: 450px;
                                    left: 1100px;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- start text slider-->
<div class="tb">
    <div class="tb-cell">
        <div class="slide-text"></div>
    </div>
</div>
<!-- End Slider-->
<!-- Start Navigation-->
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-menu"><span class="sr-only">Toggle navigation</span><span class="fa fa-bars"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <div
                    class="clear-toggle"></div>
            <div class="collapse scroll navbar-right" id="main-menu">
                <ul class="nav">
                    <li class="active"><a href="#home">Home</a></li>
                    <li><a href="#login">Login</a></li>
                    <li><a href="#products">PRODUCTS</a></li>
                    <li><a href="#cakes">CAKES</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!-- End main-menu-->
        </div>
    </div>
    </div>
</header>
<!-- End Navigation-->
<!-- Start pricing-->
<section class="section parallax" id="login">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ["Cookie:regular"]
            }
        });
    </script>
    <div class="loginbody">
        <div class="logintitle">
            <h1>Login</h1>
            <p> Username:- </p><input type="text" name="" placeholder="">
            <p> Password:- </p><input type="password" name="" placeholder="">
            <div class="logincenter"><a class="loginlink" href="#" title="Login"></a></div>
            <div class="page-scroll scroll"><a class="signuplink" href="#register">Sign-Up</a></div><a class="loginpassword" href="#">Forgot Password</a></div>
    </div>
</section>
<!-- End Pricing-->
<!-- Start pricing-->
<section class="section parallax" id="register">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ["Cookie:regular"]
            }
        });
    </script>
    <div class="regbody">
        <div class="regtitle">
            <h1>Welcome to CzarinBakes</h1>
            <form name="regform">
                <p> Email:- </p><input type="email" name="email" ng-model="user.email" required="">
                <p> Mobile:- </p><input id="Mobile" name="MobileNo" type="tel" size="10" minlength="10" maxlength="10">
                <p> Username:- </p><input type="text" name="" placeholder="">
                <p> Password:- </p><input type="password" name="" placeholder="">
                <div class="regcenter"><a class="reglink" href="#" title="Register"></a></div>
                <!--<div class="page-scroll scroll">
<a href='#products' class='signuplink'>Sign-Up</a>
</div>
<a href='#' class='loginpassword'>Forgot Password</a>-->
            </form>
        </div>
    </div>
</section>
<!-- End Pricing-->
<div class="margin"></div>
<!-- Start Services-->
<section class="section" id="products">
    <div class="container">
        <div class="row">
            <!-- Start heading-->
            <div class="col-md-offset-2 col-md-8 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="section-header">
                    <h2 class="smt"><span><img src="images/left.png " height="100px;">  PRODUCTS <img src="images/right.png " height="100px;"></span></h2>
                </div>
            </div>
            <!-- End heading-->
            <!-- Services Item #1-->
            <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="services-box">
                    <div class="services-desc card">
                        <div class="page-scroll scroll front back"><a href="#cakes"><img src="images/CusLogo/cus1.png "></a></div>
                    </div>
                </div>
            </div>
            <!-- Services Item #2-->
            <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="400ms">
                <div class="services-box">
                    <div class="services-desc card">
                        <div class="page-scroll scroll front back"><a href="#cakes"><img src="images/CusLogo/cus2.png " height="120px;" width="120px;"></a></div>
                    </div>
                </div>
            </div>
            <!-- Services Item #3-->
            <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="500ms">
                <div class="services-box">
                    <div class="services-desc card">
                        <div class="page-scroll scroll front back"><a href="#cakes"><img src="images/CusLogo/cus3.png " height="120px;" width="120px;"></a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services Item #4-->
        <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="600ms">
            <div class="services-box">
                <div class="services-desc card">
                    <div class="page-scroll scroll front back"><a href="#cakes"><img src="images/CusLogo/cus4.png " height="120px;" width="120px;"></a></div>
                </div>
            </div>
        </div>
        <!-- Services Item #5-->
        <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="700ms">
            <div class="services-box">
                <div class="services-desc card">
                    <div class="page-scroll scroll front back"><a href="#cakes"><img src="images/CusLogo/cus5.png " height="120px;" width="150px;"></a></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="700ms">
            <div class="services-box">
                <div class="services-desc card">
                    <div class="page-scroll scroll front back"><a href="#cakes"><img src="images/CusLogo/cus7.png " height="120px;" width="150px;"></a></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="700ms">
            <div class="services-box">
                <div class="services-desc card">
                    <div class="page-scroll scroll front back"><a href="#cakes"><img src="images/CusLogo/cus8.png " height="120px;" width="150px;"></a></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="700ms">
            <div class="services-box">
                <div class="services-desc card">
                    <div class="page-scroll scroll front back"><a href="#cakes"><img src="images/CusLogo/cus9.jpg " height="120px;" width="150px;"></a></div>
                </div>
            </div>
        </div>
        <!-- Services Item #6-->
        <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="800ms">
            <div class="services-box">
                <div class="services-desc card">
                    <div class="page-scroll scroll front back"><a href="#cakes"><img src="images/CusLogo/cus6.png " height="120px;" width="120px;"></a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row-->
    <!-- /.container-->
</section>
<!-- End Services-->
<!-- Start facts-->
<section class="section parallax" id="facts">
    <!-- /container-->
</section>
<!-- End facts-->
<!-- Start portfolio-->
<section class="section" id="cakes">
    <!-- Filtering-->
    <div class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="500ms">
        <!-- Start heading-->
        <div class="col-md-offset-2 col-md-8">
            <div class="section-header">
                <h2 class="smt"><span><img src="images/left.png " height="100px;"> Cakes <img src="images/right.png " height="100px;"></span></h2>
            </div>
        </div>
        <!-- End heading-->
        <div class="col-md-12">
            <!-- Filtering-->
            <ul class="filtering">
                <li class="filter" data-filter="all">All</li>
                <li class="filter" data-filter="wedding">Wedding Cakes</li>
                <li class="filter" data-filter="muffins">Muffins</li>
                <li class="filter" data-filter="birthday">Birthday Special</li>
                <li class="filter" data-filter="surprise">Surprise Cakes</li>
            </ul>
        </div>
    </div>
    <div class="full-width wow fadeInUp" data-wow-duration="700ms" data-wow-delay="700ms">
        <!-- Work Grid-->
        <ul class="work-grid">
            <!-- Work Block-->
            <li class="work-item thumbnail-img mix birthday"><a class="popup-image" href="images/works/img1.jpg "><img src="images/works/img1.jpg" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Birthday</h4>
                            <p>Cakes</p><a class="btn btn-primary btn-sm btn-color-white" href="birthdayimg1">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <!-- Work Block-->
            <li class="work-item thumbnail-img mix birthday"><a class="popup-image" href="images/works/img2.jpg "><img src="images/works/img2.jpg" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Birthday</h4>
                            <p>Cakes</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <!-- Work Block-->
            <li class="work-item thumbnail-img mix birthday"><a class="popup-image" href="images/works/img3.jpg "><img src="images/works/img3.jpg " alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Birthday</h4>
                            <p>Cakes</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <!-- Work Block-->
            <li class="work-item thumbnail-img mix birthday"><a class="popup-image" href="images/works/img4.jpg"><img src="images/works/img4.jpg " alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Birthday</h4>
                            <p>Cakes</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <!-- Work Block-->
            <li class="work-item thumbnail-img mix surprise"><a class="popup-image" href="images/works/img5.jpg"><img src="images/works/img5.jpg" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Surprise</h4>
                            <p>Cakes</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <!-- Work Block-->
            <li class="work-item thumbnail-img mix birthday"><a class="popup-image" href="images/works/img6.jpg"><img src="images/works/img6.jpg" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Birthday</h4>
                            <p>Cakes</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <!-- Work Block-->
            <li class="work-item thumbnail-img mix surprise"><a class="popup-image" href="images/works/img7.jpg"><img src="images/works/img7.jpg" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Surprise</h4>
                            <p>Cakes</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <!-- Work Block-->
            <li class="work-item thumbnail-img mix birthday"><a class="popup-image" href="images/works/img8.jpg"><img src="images/works/img8.jpg" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Birthday</h4>
                            <p>Cakes</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <!-- Work Block-->
            <li class="work-item thumbnail-img mix wedding"><a class="popup-image" href="images/works/img9.jpg"><img src="images/works/img2.jpg" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Wedding</h4>
                            <p>Cakes</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <li class="work-item thumbnail-img mix wedding"><a class="popup-image" href="images/works/img10.jpg"><img src="images/works/img10.jpg" alt="thumbnail" height="400px"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Wedding</h4>
                            <p>Cakes</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <li class="work-item thumbnail-img mix wedding"><a class="popup-image" href="images/works/img11.jpg"><img src="images/works/img11.jpg" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Wedding</h4>
                            <p>Cakes</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <li class="work-item thumbnail-img mix wedding"><a class="popup-image" href="images/works/img12.jpg"><img src="images/works/img12.jpg" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Wedding</h4>
                            <p>Cakes</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <li class="work-item thumbnail-img mix wedding"><a class="popup-image" href="images/works/img13.jpg"><img src="images/works/img13.jpg" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Wedding</h4>
                            <p>Cakes</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <li class="work-item thumbnail-img mix muffins"><a class="popup-image" href="images/works/img14.jpg"><img src="images/works/img14.jpg" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Snacks</h4>
                            <p>Muffins</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <li class="work-item thumbnail-img mix muffins"><a class="popup-image" href="images/works/img15.jpg"><img src="images/works/img15.jpg" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Snacks</h4>
                            <p>Muffins</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <li class="work-item thumbnail-img mix muffins"><a class="popup-image" href="images/works/img16.png"><img src="images/works/img16.png" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Snacks</h4>
                            <p>Muffins</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <li class="work-item thumbnail-img mix muffins"><a class="popup-image" href="images/works/img17.jpg"><img src="images/works/img17.jpg" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Snacks</h4>
                            <p>Muffins</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <li class="work-item thumbnail-img mix birthday"><a class="popup-image" href="images/works/img18.jpg"><img src="images/works/img18.jpg" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Birthday</h4>
                            <p>Cakes</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <li class="work-item thumbnail-img mix birthday"><a class="popup-image" href="images/works/img19.jpeg"><img src="images/works/img19.jpeg" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Birthday</h4>
                            <p>Cakes</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <li class="work-item thumbnail-img mix birthday"><a class="popup-image" href="images/works/img20.jpg"><img src="images/works/img20.jpg" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Birthday</h4>
                            <p>Cakes</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
            <li class="work-item thumbnail-img mix birthday"><a class="popup-image" href="images/works/img21.jpg"><img src="images/works/img21.jpg" alt="thumbnail" height="400px;"></a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Birthday</h4>
                            <p>Cakes</p><a class="btn btn-primary btn-sm btn-color-white" href="#">Place an Order</a></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="work-all wow fadeInUp" data-wow-duration="700ms" data-wow-delay="800ms"><a class="btn btn-primary btn-lg" href="#">View All Portfolio</a></div>
</section>
<!-- End portfolio-->
<!-- start slider-->
<!-- end slider--->
<!-- Start Contact-->
<section class="section parallax section-white" id="contact">
    <div class="overlayc"></div>
    <div class="container">
        <div class="row">
            <!-- Start heading-->
            <div class="col-md-offset-2 col-md-8 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="section-header">
                    <h2 class="smt"><span><img src="images/left.png " height="100px;">Contact <img src="images/right.png " height="100px;"></span></h2>
                </div>
            </div>
            <!-- End heading-->
            <!-- Start contact form-->
            <div class="col-md-7 contact-form wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="contact-form">
                    <form method="post" action="">
                        <div class="row">
                            <div class="col-md-6"><input class="form-control" id="name" name="name" placeholder="Full Name" type="text"></div>
                            <div class="col-md-6"><input class="form-control" name="email" placeholder="Your Email" type="email"></div>
                            <div class="col-md-12"><input class="form-control" name="subject" placeholder="Subject" type="text"></div>
                            <div class="col-md-12"><textarea class="form-control" name="message" rows="5" placeholder="Your Message"></textarea></div>
                            <div class="col-md-12 text-right"><button class="btn btn-default btn-lg" type="submit" name="submit">Send Message</button></div>
                        </div>
                    </form>
                </div>
                <!-- /.contact-form-->
            </div>
            <!-- contact form-->
            <!-- Start contact information-->
            <div class="col-md-4 contact-address wow zoomIn" data-wow-duration="700ms" data-wow-delay="400ms">
                <p><i class="fa fa-map-marker"></i><span>28,X block Horizon Apartment 1030-Th Road Chennai</span></p>
                <p><i class="fa fa-envelope"></i><span>jeffersonimmanuel5@gmail.com</span></p>
                <p><i class="fa fa-phone"></i><span>(91)9962627568</span></p>
                <p><i class="fa fa-clock-o"></i><span>Monday - Friday: <strong>9:00 am - 10:00 pm</strong></span></p>
                <p><i class="fa fa-clock-o"></i><span>Saturday - Sunday: <strong>Closed</strong></span></p>
            </div>
            <!-- End contact information-->
        </div>
        <!-- /.row-->
    </div>
    <!-- /.container-->
</section>
<!-- End Contact-->
<!-- Start footer-->
<footer>
    <div class="container wow zoomIn" data-wow-duration="700ms" data-wow-delay="500ms">
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- Start footer social-->
                <ul class="list-inline footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
                <!-- End footer social-->
                <!-- footer copyright text-->
                <p>Copyright &copy; 2017 All reserved</p>
                <!-- end of the footer copyright text-->
            </div>
        </div>
        <!-- /.row-->
    </div>
    <!-- /.container-->
</footer>
<!-- End footer--><a class="scrollup" href="#"><i class="fa fa-chevron-up"> </i></a>
<!-- Plugins-->
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="js/jquery.sticky.js"></script>
<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
